html {
  height: 100%;
  font-family: "Tahoma";
}
body {
    margin:0 auto;
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
    width: 177.7vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.38vh 1.38vh 0 1.38vh;
    background: rgba(234,234,234,1);
}

img:hover {cursor: pointer;}

.header {
    color: #039;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: white;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    flex-direction: column;
    padding: 0;
    background: white;
}

.led_status{
    width: 6.6vh;
    height: 6.6vh;
    background: #999;
    border-radius: 1.38vh;
    padding: 0;
    margin: 1.38vh 1.38vh 0 0;
    border: 0.13vh solid #999;
    display:inline-block;
}

.ping_status{
    width: 2vh;
    height: 2vh;
    background: #999;
    border-radius: 1.38vh;
    padding: 0;
    border: 0.13vh solid #999;
    display:inline-block;
}

body div fieldset {
    border-radius: 1vh;
    display:inline-block;
    padding: 0 1.38vh 0.27vh 1.38vh;
}

body div legend{
    color: #06c;
}

button {
  background: linear-gradient(0deg, #77ccfd 0%, #6cc3ee 100%);
  border: none;
}

button:before {
  height: 0%;
  width: 2px;
}

button:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    cursor: pointer;
}

.small_set {
    width: 30vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.btn_exit {
    width: 8vh;
    height: 4vh;
}
.plc_status {
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.plc_status legend{
    font-size: 2.8vh;
}

.fieldset_status {
    height: 8vh;
    width: 27vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.current {
    font-size: 3.5vh;
    padding: 0;
}

.main {
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: row;
}

.main div {
    padding: 0;
}

.main-buttons {
    width: 20vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-buttons button {
    width: 100%;
    height: 14.7vh;
    font-size: 3vh;
}

.main-base {
    width: 82%;
    height: 100%;
}

.base-fieldset {
    position: absolute;
    width: 150vh;
    height: 81vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pcs {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.akb {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.ip {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.ip-fieldset {
    width: 19.2%;
    height: 11.7vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.pcs-fieldset {
    width: 19.2%;
    height: 11.7vh;
    display: flex;
    align-items: center;
}

.akb-fieldset {
    width: 30%;
    height: 11.7vh;
    display: flex;
    align-items: center;
}

.alerts-border {
    border: 0.7vh #f33 solid;
    width: 5.46vh;
    height: 5.46vh;
    animation: blink 1s infinite;
}

@keyframes blink { 50% { border-color:#EAEAEA ; }  }

.main-base legend {
    font-size: 4vh;
}

.sostoyanie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.sostoyanie-sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0;
    font-size: 2vh;
}

.settings-err {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.err-sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.err-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    justify-content: space-around;
    font-size: 2vh;
}

.err_status{
    width: 2.77vh;
    height: 2.77vh;
    background: rgba(234,100,100,1);
    border-radius: 2.77vh;
    padding: 0;
    margin: 0 10vh 1vh 0;
    border: 0px;
}

.p_err {
    width: 12.22vh;
    height: 4.44vh;
    margin: 0;
    padding: 0;
    display:inline-block;
    text-align: center;
}

.small_frame {
    width: 5.55vh;
    height: 1.25vh;
    background: #999;
    border-radius: 1px;
    padding: 0;
    margin: 0 0.69vh;
    border: 1px solid black;
}

.small_frame2 {
    width: 9.72vh;
    height: 3.05vh;
    background: #999;
    border-radius: 1px;
    padding: 0;
    margin: 0 1.25vh;
    border: 1px solid black;
    text-align: center;
}

.logs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.log-sub {
    width: 100%;
    height: 3.47vh;
}

.big_stop {
    width: 7.77vh;
    height: 47.9vh;
    background: #f33;
    color: white;
    border-radius: 1vh;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-size: 5vh;
    margin: 2vh 0 0.69vh 0;
}

.position-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 82vh;
}

.position-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    float: left;
    height: 53vh;
    font-size: 4vh;
}

.position-goto {
    width: 26vh;
    height: 53vh;
    display: flex;
    flex-direction: column;
    font-size: 4vh;
}

.position-goto_btm {
    display: flex;
    flex-direction: row;
    height: 22vh;
    width: 78vh;
}

.position-goto_btm a {
    width: 4vh;
    height: 4vh;
}

.new_sub {
    display: flex;
    text-align: center;
    margin: 1.38vh 0;
    justify-content: space-between;
}

.mshu {
    width: 100%;
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background: none;
    height: 7vh;
}

.position-new input {
    width: 22vh;
    height: 5.83vh;
    margin: 0 0 0 2vh;
    padding: 0;
    display:inline-block;
    text-align: center;
    font-size: 4vh;
}

.position-new select {
    width: 22vh;
    height: 5.83vh;
    margin: 0 0 0 2vh;
    padding: 0;
    display:inline-block;
    text-align: center;
    font-size: 4vh;
}

input:focus {
    outline: 0;
    border: 3px solid #390;
}

.position-man {
    width: 63vh;
    height: 67vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn_man_pos {
    width: 20vh;
    height: 20vh;
    padding: 0;
    border-radius: 0.69vh;
    margin: 0.41vh;
}

.btn_menu, .btn_ml{
    border-radius: 0.69vh;
    border: 1px solid #000;
}

.btn_pos, .btn_pos_btm {
    width: 30vh;
    height: 9.9vh;
    font-size: 4vh;
    margin: 1vh 0 0 0;
    border-radius: 0.69vh;
    border: 1px solid #000;
}
.btn_data {
    width: 30vh;
    height: 4.3vh;
    font-size: 3vh;
    margin: 1vh 0 0 0;
    border-radius: 0.69vh;
    border: 1px solid #000;
}
.btn_denied, .btn_allow {
    width: 30vh;
    height: 9.9vh;
    font-size: 2.6vh;
    margin: 1vh 0 0 0;
    border-radius: 0.69vh;
    border: 1px solid #000;
}

.btn_denied:hover {
    background: #ed1f24
}
.btn_allow:hover {
    background: #0e7c34
}

.btn_pos_btm {
    width: 90%;
    height: 10vh;
}

.mode {
    font-size: 4vh;
    margin: 1vh;
    text-align: center;
    width: 38vh;
}

.footer {
    clear: both;
    color: #039;
    height: 6vh;
    width: 100%;
    text-align: left;
    font-size: 2.5vh;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* PIDS */
.pids_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.pid_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid grey;
    margin: 1.38vh 0;
    align-items: center;
    justify-content: space-between;
}

.pid_key {
    width: 20%;
    font-size: 2vh;
}

.pid_key_c {
    width: 10%;
    font-size: 2vh;
}

.pid_key_small {
    width: 5%;
}

.sat {
    z-index: -1;
    width: 64vh;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(234,234,234,1);
}
.sat legend {background: rgba(234,234,234,1);}
.list_sat {
    height: 50vh;
    overflow:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.list_sat div {
    font-size: 4vh;
    margin: 1vh 1vh;
    padding: 1vh 1vh;
}
.list_sat div:hover {
    border: 1px solid #390;
    background: #36f;
}

.add_box .user_box {
    position: relative;
    padding: 0;
    border: 3px solid rgba(234,234,234,1);
    font-size: 3.5vh;
    text-align: center;
    color: #039;
}

.add_box .user_box input {
  width: 30vh;
  padding: 1.7vh 0 0.4vh 0;
  font-size: 2.5vh;
  margin: 3vh 1vh;
  border: none;
  border-bottom: 1px solid #2779c0;
  outline: none;
  background: transparent;
}

.add_box .user_box label {
  position: absolute;
  top: 1.05vh;
  left: 1vh;
  padding: 1.2vh 0;
  font-size: 2.5vh;
  color: #2779c0;
  pointer-events: none;
  transition: .5s;
}

.add_box .user_box input:focus ~ label {
  top: 0;
  left: 1vh;
  color: #2779c0;
  font-size: 2vh;
}

.add_box .user_box button {
    width: 12vh;
    margin: 1vh;
    height: 4vh;
    font-size: 2vh;
    color: #039;
    font-weight: bold;
}

.add_box .user_box .choose-box {
  position: relative;
  width: 30vh;
  height: 4vh;
  font-size: 2vh;
  margin: 1.2vh 0;
  outline: 0;
  border: 1px solid #2779c0;
}

.add_box .choose-label {
    position: relative;
    height: 6vh;
    border: 3px solid rgba(234,234,234,1);
    padding: 0;
}

.add_box .choose-label label {
  position: absolute;
  top: 1.05vh;
  left: 1vh;
  padding: 1.2vh 0;
  font-size: 2.5vh;
  color: #2779c0;
}

.add_box div {
    border: none;
}

.pop_up {
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 2vh 3vh rgba(0,0,0,.6);
  z-index: 100;
}

.add_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vh;
  padding: 4vh;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 2vh 3vh rgba(0,0,0,.6);
  border-radius: 1.2vh;
}
/* --------- */
/* KEYBOARD */
.kbd {
    z-index: -1;
    width: 30vh;
    height: 70vh;
    flex-direction: column;
    top: 1vh;
    left: 1vh;
    padding: 1.38vh;
    background: rgba(234,234,234,1);
}
.row {
    display: flex;
    justify-content: space-between;
}

.keys {
    width: 30vh;
    height: 13vh;
    background-color: #390;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vh;
    transition: .2s;
    color: #fff;
    font-weight: bold;
    font-size: 7.5vh;
}

.keys:hover {
    cursor: pointer;
}
.arrow {
    width: 22vh;
    font-size: 4vh;
}

.keys.active {
    background-color: #333;
    color: #390;
}

.keys.remove {
    animation: keys_animation 0.5s forwards;
}

@keyframes keys_animation {
    0% {background-color: #333; color: #390;}
    100% {background-color: #390; color: #000;}
}

.tree{
    --spacing: 2.1vh;
    --radius: 0.9vh;
}

.tree li{
    display: block;
    position: relative;
    padding-left: 5vh;
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree ul li{
  /* border-left : 2px solid #ddd; */
}

.tree ul li:last-child{
  border-color : transparent;
}

.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : -1.2vh;
  left         : -2.2vh;
  width        : 3vh;
  height       : 2.1vh;
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : 0.15vh;
  left          : 1.2vh;
  width         : 1.8vh;
  height        : 1.8vh;
  border-radius : 50%;
}

.tree summary::before{
  content     : '+';
  z-index     : 1;
  background  : #696;
  color       : #fff;
  line-height : 1.75vh;
  text-align  : center;
}

.tree details[open] > summary::before{
  content : '−';
}
