<html>
    <head>
        <meta charset="UTF-8" content="">
        <title>Система управления UPS 1600</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='MSlogo_44.ico')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/kbd_style.css')}}">
        <script defer src="{{url_for('static',filename='scripts/jquery.js')}}" type="text/javascript"></script>
        <script defer src="{{url_for('static',filename='scripts/jquery.inputmask.js')}}" type="text/javascript"></script>
        <script defer src="{{url_for('static',filename='scripts/index.js')}}" type="text/javascript"></script>
        <script defer src="{{url_for('static',filename='scripts/keyboard.js')}}" type="text/javascript"></script>
    </head>
    <body id="body">
        <div class="header">
            <img src="{{url_for('static',filename='MSlogo_44.ico')}}" alt="" style="padding: 0; margin: 0 0 0 5px; width: 5vh; height: 5vh;">
            <h2>MLink - UPS 1600 - Система мониторинга</h2>
<!--            <div class="header-right">-->
<!--                <a href=logout><button class="btn_exit">Выход</button></a>-->
<!--            </div>-->
        </div>
        <div class="main" id="main">
            <div class="main-buttons">
                <a href="#information" style="width: 100%;" onclick="return show_fieldset('0')" id="ah_0"><button class="btn_menu" id="btn_0">Состояние</button></a>
                <a href="#logs" style="width: 100%;" onclick="return show_fieldset('1')" id="ah_1"><button class="btn_menu" id="btn_1">Журнал</button></a>
                <a href="#settings" style="width: 100%;" onclick="return show_fieldset('2')" id="ah_2"><button class="btn_menu" id="btn_2">Установки</button></a>
            </div>
            <div class="main-base" id="main-base" style="padding: 0 1.38vh;">
                <fieldset class="base-fieldset" style="z-index: 100; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="fs_0">
<!--                    background:url({{url_for('static',filename='images/web_bkg.png')}}) no-repeat;width:90%;height:90%;-->
                    <legend style="text-align: left;">Состояние</legend>
                    <div class="left">
                        <fieldset class="status">
                            <legend style="text-align: left; font-size: 2vh;">Режим работы</legend>
                            <div id="err_sts" style="font-size: 3vh;"></div>
                        </fieldset>
                        <div class="pcs">
                            <fieldset class="pcs-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="pcs_0">
                                <legend style="text-align: left; font-size: 2vh;">БВ 1 - Фаза А</legend>
                                <fieldset class="led_status" id="bv1_status"></fieldset>
                                <div class="current" id="ua">0 B</div>
                                <div class="current" id="tinv1">0 &deg;С</div>
                                <div class="current" id="iinv1">0 A</div>
                            </fieldset>
                            <fieldset class="pcs-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="pcs_1">
                                <legend style="text-align: left; font-size: 2vh;">БВ 2 - Фаза В</legend>
                                <fieldset class="led_status" id="bv2_status"></fieldset>
                                <div class="current" id="ub">0 B</div>
                                <div class="current" id="tinv2">0 &deg;С</div>
                                <div class="current" id="iinv2">0 A</div>
                            </fieldset>
                            <fieldset class="pcs-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="pcs_2">
                                <legend style="text-align: left; font-size: 2vh;">БВ 3 - Фаза С</legend>
                                <fieldset class="led_status" id="bv3_status"></fieldset>
                                <div class="current" id="uc">0 B</div>
                                <div class="current" id="tinv3">0 &deg;С</div>
                                <div class="current" id="iinv3">0 A</div>
                            </fieldset>
                        </div>
                        <div class="pcs">
                            <fieldset class="pcs-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="t_1">
                                <legend style="text-align: left; font-size: 2vh;">Температура на АКБ</legend>
                                <div class="current" id="temp_akb" style="padding: 2vh;">0 &deg;С</div>
                            </fieldset>
                            <fieldset class="pcs-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="t_2">
                                <legend style="text-align: left; font-size: 2vh;">Температура в шкафу</legend>
                                <div class="current" id="temp_air" style="padding: 2vh;">0 &deg;С</div>
                            </fieldset>
                            <fieldset class="pcs-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="u_load">
                                <legend style="text-align: left; font-size: 2vh;">Напряжение нагрузки</legend>
                                <div class="current" id="uload" style="padding: 2vh;">0 B</div>
                            </fieldset>
                        </div>
                        <div class="akb">
                            <fieldset class="akb-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="iakb">
                                <legend style="text-align: left; font-size: 2vh;">Ток АКБ ("-" - заряд АКБ, "+" - разряд АКБ)</legend>
                                <div class="current" id="iakb1" style="padding: 2vh;">0 A</div>
                            </fieldset>
                            <fieldset class="akb-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="i_load">
                                <legend style="text-align: left; font-size: 2vh;">Ток нагрузки</legend>
                                <div class="current" id="iload" style="padding: 2vh;">0 A</div>
                            </fieldset>
                        </div>
                        <div class="akb">
                            <fieldset class="akb-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="akb1">
                                <legend style="text-align: left; font-size: 2vh;">Напряжение на первом блоке АКБ</legend>
                                <div class="current" id="uakb1" style="padding: 2vh;">0 В</div>
                            </fieldset>
                            <fieldset class="akb-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="akb2">
                                <legend style="text-align: left; font-size: 2vh;">Напряжение на втором блоке АКБ</legend>
                                <div class="current" id="uakb2" style="padding: 2vh;">0 В</div>
                            </fieldset>
                        </div>
                        <div class="akb">
                            <fieldset class="akb-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="akb3">
                                <legend style="text-align: left; font-size: 2vh;">Напряжение на третьем блоке АКБ</legend>
                                <div class="current" id="uakb3" style="padding: 2vh;">0 В</div>
                            </fieldset>
                            <fieldset class="akb-fieldset" style="flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="akb4">
                                <legend style="text-align: left; font-size: 2vh;">Напряжение на четвертом блоке АКБ</legend>
                                <div class="current" id="uakb4" style="padding: 2vh;">0 В</div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="right">
                        <fieldset class="dry_in-fieldset" style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">
                            <div id="u_bv" style="font-size: 3vh;"></div>
                        </fieldset>
                        <fieldset class="dry_in-fieldset" style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">
                            <legend style="text-align: left; font-size: 2vh;">Входные сухие контакты</legend>
                            <fieldset class="led_status" id="dry1_in"></fieldset>
                            <fieldset class="led_status" id="dry2_in"></fieldset>
                            <fieldset class="led_status" id="dry3_in"></fieldset>
                            <fieldset class="led_status" id="dry4_in"></fieldset>
                        </fieldset>
                        <fieldset class="dry_out-fieldset" style="flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">
                            <legend style="text-align: left; font-size: 2vh;">Выходные сухие контакты</legend>
                            <fieldset class="led_status" id="dry1_out"></fieldset>
                            <fieldset class="led_status" id="dry2_out"></fieldset>
                            <fieldset class="led_status" id="dry3_out"></fieldset>
                            <fieldset class="led_status" id="dry4_out"></fieldset>
                        </fieldset>
                    </div>
                </fieldset>
                <fieldset class="base-fieldset" style="visibility: hidden;" id="fs_1">
                    <legend style="text-align: left;">Журнал</legend>
                </fieldset>
                <fieldset class="base-fieldset" style="visibility: hidden; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="fs_2">
                    <legend style="text-align: left;">Установки</legend>
                    <fieldset class="ip-fieldset">
                        <legend style="text-align: left; font-size: 2.5vh;">Сетевые</legend>
                        <div class="ip">
                            <div>IP адрес:   192.168.1.52</div>
                            <div>Маска сети: 255.255.255.0</div>
                            <div>Шлюз:       192.168.1.111</div>
                        </div>
                        <div><img class="pid_key_small" src="{{url_for('static',filename='images/buttons/ip_set.png')}}" alt="Изменить ip" style="width: 5vh; height: 5vh;"></div>
<!--                        onclick="return new_ip.init();"-->
                    </fieldset>
                    <fieldset style="width: 80vh;">
                        <legend style="text-align: left; font-size: 2.5vh;">АКБ</legend>
<!--                        onfocusout="check_input(this)"-->
                        <div class="new_sub">Глубина разряда АКБ при наличии входного напряжения<input id="discharge_abc" type="text" placeholder="xx%"></div>
                        <div class="new_sub">Глубина разряда АКБ при отсутствии входного напряжения<input id="discharge_akb" type="text" placeholder="xx%"></div>
                        <div class="new_sub">Максимальный ток нагрузки – ток отсечки<input id="i_load_max" type="text" placeholder="xxA"></div>
                        <div class="new_sub">Время задержки срабатывания защиты при превышении тока нагрузки
                            <select name="t_delay" id="t_delay" onchange="">
                                  <option value='0'>1 мс</option>
                                  <option value='10'>10 мс</option>
                                  <option value='50'>50 мс</option>
                                  <option selected value='100'>100 мс</option>
                                  <option value='200'>200 мс</option>
                                  <option value='500'>500 мс</option>
                            </select>
                        </div>
                        <div class="new_sub">Емкость АКБ<input id="q_akb" type="text" placeholder="xxxA&#183;ч" onfocusout=""></div>
                        <div class="new_sub">Значение максимального тока заряда АКБ<input id="i_charge_max" type="text"></div>
                        <div class="new_sub">Напряжение на выходе ИБП в случае работы без АКБ<input id="u_load_abc" type="text" placeholder="xxВ" onfocusout=""></div>
                        <div class="new_sub">Часовой пояс
                            <select name="time_zone" id="time_zone" onchange="">
                                  <option value=0>0 ч</option>
                                  <option value=1>+1 ч</option>
                                  <option value=2>+2 ч</option>
                                  <option selected value=3>+3 ч</option>
                                  <option value=4>+4 ч</option>
                                  <option value=5>+5 ч</option>
                                  <option value=6>+6 ч</option>
                                  <option value=7>+7 ч</option>
                                  <option value=8>+8 ч</option>
                                  <option value=9>+9 ч</option>
                                  <option value=10>+10 ч</option>
                                  <option value=11>+11 ч</option>
                            </select>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
        </div>
        <div class="footer">
            <p id="version">Микролинк-связь ООО &copy; &reg;, 2023</p>
            <fieldset class="ping_status" id="led_status" style="font-size: 2vh;"></fieldset>
<!--            <a href=logout><button class="btn_exit">Выход</button></a>-->
            <div id="current-date" style="padding: 0;"></div>
        </div>
    </body>
</html>