<html>
    <head>
        <meta charset="UTF-8" content="">
        <title>Система управления UPS 1600</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='MSlogo_44.ico')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/kbd_style.css')}}">
        <script defer src="{{url_for('static',filename='scripts/jquery.js')}}" type="text/javascript"></script>
        <script defer src="{{url_for('static',filename='scripts/jquery.inputmask.js')}}" type="text/javascript"></script>
        <script defer src="{{url_for('static',filename='scripts/index.js')}}" type="text/javascript"></script>
        <script defer src="{{url_for('static',filename='scripts/keyboard.js')}}" type="text/javascript"></script>
    </head>
    <body id="body">
        <div class="header">
            <img src="{{url_for('static',filename='MSlogo_44.ico')}}" alt="" style="padding: 0; margin: 0 0 0 5px; width: 5vh; height: 5vh;">
            <h2>MLink - UPS 1600 - Система мониторинга</h2>
            <div class="header-right">
                <a href=logout><button class="btn_exit">Выход</button></a>
            </div>
        </div>
        <div class="main" id="main">
            <div class="main-buttons">
                <a href="#information" style="width: 100%;" onclick="return show_fieldset('0')" id="ah_0"><button class="btn_menu" id="btn_0">Состояние</button></a>
                <a href="#man_control" style="width: 100%;" onclick="return show_fieldset('1')" id="ah_1"><button class="btn_menu" id="btn_1">Журнал</button></a>
                <a href="#start_positioin" style="width: 100%;" onclick="return show_fieldset('2')" id="ah_2"><button class="btn_menu" id="btn_2">Установки</button></a>
            </div>
            <div class="main-base" id="main-base" style="padding: 0 1.38vh;">
                <fieldset class="base-fieldset" style="z-index: 100; justify-content: flex-start;" id="fs_0">
                    <legend style="text-align: left;">Состояние</legend>
                </fieldset>
                <fieldset class="base-fieldset" style="visibility: hidden;" id="fs_1">
                    <legend style="text-align: left;">Журнал</legend>
                    <fieldset id="scrambling" style="width: 55%; height: 98%; overflow: auto;">
                        <legend style="text-align: left; font-size: 3vh;">Посервисное шифрование</legend>
                    </fieldset>
                    <fieldset style="width: 35%; height: 20vh;">
                        <legend style="text-align: left; font-size: 3vh;">Передача данных</legend>
                        <input type="text" id="send_data" style="width: 100%;">
                        <button onclick="return send_data();" class="btn_data">Передать</button>
                        <button onclick="return init();" class="btn_data">Init</button>
                    </fieldset>
<!--                    <input type="text" id="writefpga"><button onclick="return writefpga();">Write</button>-->
<!--                    <input type="text" id="readfpga"><button onclick="return readfpga();">Read</button>-->
                </fieldset>
                <fieldset class="base-fieldset" style="visibility: hidden; flex-direction: column; flex-wrap: wrap; justify-content: flex-start;" id="fs_2">
                    <legend style="text-align: left;">Установки</legend>
                    <fieldset class="small_set">
                        <legend style="text-align: left; font-size: 2.5vh;">Сетевые настройки</legend>
                        <div>
                            <div>IP адрес:   192.168.1.52</div>
                            <div>Маска сети: 255.255.255.0</div>
                            <div>Шлюз:       192.168.1.1</div>
                        </div>
                        <div><img class="pid_key_small" src="{{url_for('static',filename='images/buttons/ip_set.png')}}" alt="Изменить ip" style="width: 5vh; height: 5vh;"></div>
<!--                        onclick="return new_ip.init();"-->
                    </fieldset>
                </fieldset>
            </div>
        </div>
        <div class="footer">
            <p id="version">Микролинк-связь ООО &copy; &reg;, 2023, web_m.0.1, v.0.1</p>
            <a href=logout><button class="btn_exit">Выход</button></a>
            <div id="current-date" style="padding: 0;"></div>
        </div>
    </body>
</html>